@import-normalize * {
  box-sizing: border-box;
}

body[data-theme="Dark"] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hwb(208 17% 73%);
  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme="Light"] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  padding: 0;
  margin: 0;
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}

.btn {
  cursor: pointer;
}

.classMargin {
  margin-left: 0.75rem;
}

.style-for-dialog-content {
  padding: 10px;
}

.style-for-paper {
  padding: 20px;
  margin: auto;
  text-align: center;
  width: 700;
}
